doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    address#footer
      p Source Code:&nbsp;
        a(href='javascript:;') github
      p Contact:&nbsp;
        a(href='mailto:bobchao@gmail.com?COSCUP%20Video%20Tagger') BobChao
